<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Styles.css">
    <title>Layout</title>
</head>
<body>
    <header>
        <h1>IWAN FALS</h1>
        <p>one of the legends in Indonesia</p>
    </header>
    <nav>
        <a href="../Summary/Summary.html">Summary</a>
        <a href="#">Time</a>
        <a href="#">Audio</a>
        <a href="#">Audio 2</a>
        <a href="#">Vidio</a>
        <a href="#">Vidiogif</a>
        <a href="#">Vidio-Sub</a>
        <a href="#">Vidio-Youtube</a>
    </nav>
    <main>     
        <article>
            <h1>Biodata</h1>
            <p> Virgiawan Liestanto, terkenal dengan nama panggungnya Iwan Fals 
                (lahir 3 September 1961) adalah seorang penyanyi, musisi, pencipta lagu,
                dan kritikus yang menjadi salah satu legenda di Indonesia. 
                Gaya bermusiknya telah dikatakan sebagai pop, rock, country, 
                dan folk pop dan liriknya banyak menceritakan masa-masa kelam era 
                1970 hingga 1980-an di bidang politik.</p>
            <section>
                <h2>Karier</h2>
                <figure>
                    <img src="Iwan fals.jpg" alt="Photos not found">
                    <figcaption>Photo Iwan fals</figcaption>
                </figure>
                <p>
                    Lewat lagu-lagunya, ia 'memotret' suasana sosial kehidupan Indonesia pada akhir tahun 1970-an hingga sekarang, 
                    kehidupan dunia pada umumnya, dan kehidupan itu sendiri. Kritik atas perilaku sekelompok orang 
                    (seperti Wakil Rakyat, Tante Lisa), empati bagi kelompok marginal (misalnya Siang Seberang Istana, Lonteku), 
                    atau bencana besar yang melanda Indonesia (atau kadang-kadang di luar Indonesia, seperti Ethiopia) mendominasi 
                    tema lagu-lagu yang dibawakannya. Namun, Iwan Fals tidak hanya menyanyikan lagu ciptaannya sendiri tetapi juga 
                    sejumlah pencipta lain. 
                    <br>
                    Iwan yang juga sempat aktif di kegiatan olahraga, pernah meraih gelar Juara II Karate Tingkat Nasional dan Juara
                     IV Karate Tingkat Nasional 1989, sempat masuk pelatnas dan melatih karate di kampusnya, STP 
                     (Sekolah Tinggi Publisistik). Iwan juga sempat menjadi kolumnis di beberapa tabloid olahraga.
                    <br>
                    Kharisma seorang Iwan Fals sangat besar. Dia sangat dipuja oleh kaum 'akar rumput'. Kesederhanaannya menjadi 
                    panutan para penggemarnya yang tersebar di seluruh nusantara. Para penggemar fanatik Iwan Fals bahkan mendirikan 
                    sebuah yayasan pada tanggal 16 Agustus 1999 yang disebut Yayasan Orang Indonesia atau biasa dikenal dengan seruan OI. 
                    Yayasan ini mewadahi aktivitas para penggemar Iwan Fals. Hingga sekarang kantor cabang OI dapat ditemui di setiap penjuru 
                    nusantara dan beberapa bahkan sampai ke mancanegara.
                </p>
            </section>
            <section>
                <h2>Biografi</h2>
                <p>
                    Masa kecil Iwan Fals atau yang biasa kita kenal sebagai Iwan dihabiskan di Bandung, kemudian di Jeddah, Arab Saudi,
                    selama 8 bulan. Bakat musiknya makin terasah di usianya yang ke-13 tahun, saat Iwan banyak menghabiskan waktunya 
                    dengan mengamen di Bandung. Bermain gitar dilakukannya sejak masih muda atau belum tua bahkan ia mengamen untuk 
                    melatih kemampuannya bergitar dan mencipta lagu. Ketika di SMP, Iwan menjadi gitaris dalam paduan suara sekolah.
                    <br>
                    Selanjutnya, datang ajakan untuk mengadu nasib di Jakarta dari seorang produser. Ia lalu menjual sepeda motornya 
                    untuk biaya membuat master. Iwan rekaman album pertama bersama rekan-rekannya, Toto Gunarto, Helmi Bahfen, dan 
                    Bambang Bule yang tergabung dalam Amburadul, namun album tersebut gagal di pasaran dan Iwan kembali menjalani 
                    profesi sebagai pengamen. Album ini sekarang menjadi buruan para kolektor serta fans fanatik Iwan Fals.
                    <br>
                    Setelah dapat juara di festival musik country, Iwan ikut festival lagu humor. Arwah Setiawan (almarhum), 
                    lagu-lagu humor milik Iwan sempat direkam bersama Pepeng, Krisna, dan Nana Krip serta diproduksi oleh ABC Records, 
                    tetapi juga gagal dan hanya dikonsumsi oleh kalangan tertentu saja. Sampai akhirnya, perjalanan Iwan bekerja 
                    sama dengan Musica Studio. Sebelum ke Musica, Iwan sudah rekaman sekitar 4-5 album. Di Musica, barulah lagu-lagu 
                    Iwan digarap lebih serius. Album Sarjana Muda, misalnya, musiknya ditangani oleh Willy Soemantri.
                    <br>
                    Iwan tetap menjalani profesinya sebagai pengamen. Ia mengamen dengan mendatangi rumah-rumah satu demi satu, 
                    kadang di Pasar Kaget atau Blok M. Album Sarjana Muda ternyata banyak diminati dan Iwan mulai mendapatkan 
                    berbagai tawaran untuk bernyanyi. Ia kemudian sempat masuk televisi setelah tahun 1987. Saat acara Manasuka 
                    Siaran Niaga disiarkan di TVRI, lagu Oemar Bakri sempat ditayangkan di TVRI. Ketika anak kedua Iwan, Cikal lahir 
                    tahun 1985, kegiatan mengamen langsung dihentikan.
                </p>
            </section>
        </article>
        <aside>
            <figure>
                <img src="Profile.jpg" alt="Not found">
                <p>Virgiawan Listanto</p>
                <table>
                    <tr>
                        <td>Lahir</td>
                        <td>:</td>
                        <td>03 September 1961 Jakarta, Indonesia</td>
                    </tr>
                    <tr>
                        <td>Pekerjaan</td>
                        <td>:</td>
                        <td>Musisi-penyanyi-pencipta lagu-karateka-kritikus</td>
                    </tr>
                    <tr>
                        <td>Genre</td>
                        <td>:</td>
                        <td>Pop - rock - country - folk pop</td>
                    </tr>
                    <tr>
                        <td>Instrumen</td>
                        <td>:</td>
                        <td>Vokal-Gitar</td>
                    </tr>
                </table>
            </figure>
        </aside>
    </main>
    <footer>
        <P>Posted by : Tito Ghofara</P>
        <p>Contact information : Titoghofara883@gmail.com</p>
    </footer>
    
</body>
</html>