@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300&family=Inconsolata:wght@300;600&family=Luxurious+Roman&family=Mystery+Quest&family=Offside&family=Overlock&family=Pacifico&family=Patrick+Hand&family=Raleway:ital,wght@1,200&family=Secular+One&family=Yanone+Kaffeesatz&display=swap');

.navbar{
    margin-left: 400px;
    margin-top: -20px;
}
.navbar-brand{
    font-family: 'overlock',cursive;
    font-size: 30px;
}
.nav-link{
    font-size: 20px;
}
.jumbotron{
    background-image: url("../Img/moon.svg");
    font-family: 'overlock',cursive;
}
.contact{
    font-family: 'inconsolata',cursive ;
}
form{
    font-family: 'inconsolata bold', monospace;
    
}
.row{
    margin-left: 475px;
    margin-top: 30px;
    margin-bottom: 40px;
}
.background{
    background-image: url("../Img/sun.jpg");
    background-position: center;
}